@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Poppins';
  text-align: center;
  background: #04232A;
}

.hero-bg {
  background: #EBFAFE;
}

p {
  font-family: 'Open Sans';
  font-weight: 400;
}

img {
  width: 180px;
}

.hero-section {
  background: url(/images/bg-hero-mobile.svg);
}

.mockups {
  width: 300px;
  height: 100;
}

.hero-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-left h1 {
  margin-bottom: 1em;
}

.hero-left p {
  width: 300px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 500;
}

.hero-left .hero-left-btn {
  color: white;
  font-size: 12px;
  background: #FC4AB8;
  padding: 1em;
  width: 255px;
  border-radius: 4em;
  margin-top: 3em;
  margin-bottom: 4.5em;
  margin-left: auto;
  margin-right: auto;
}

.hero-left .hero-left-btn:hover {
  background: #FE92D5;
}

.navbar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1em;
  padding: 1.5em;
}

.navbar-container .image-logo {
  margin-top: 5px;
  width: 100px;
  height: 17px;
  cursor: pointer;
}

.nav-btn {
  font-family: 'poppins';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 10px;
  font-weight: 700;
  color: black;
  background: white;
  padding: 4px;
  border-radius: 4em;
  -webkit-box-shadow: 0 1px 10px 0.1px #cecaca;
          box-shadow: 0 1px 10px 0.1px #cecaca;
  width: 90px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-btn:hover {
  color: #747F89;
}

.hero-container {
  padding: 3em;
}

.second-section {
  background: white;
  padding: 20px;
}

.grow-container {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 260px;
      grid-template-columns: 260px;
  -ms-grid-rows: 280px 150px;
      grid-template-rows: 280px 150px;
      grid-template-areas: 'a' 'b';
  margin-top: 40px;
  -webkit-box-shadow: 0 0 15px 1px #e8e7e7;
          box-shadow: 0 0 15px 1px #e8e7e7;
  padding: 2em;
  border-radius: 17px;
}

.grow-container .grow-left-cont {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: b;
}

.grow-container .grow-right-cont {
  padding-top: 30px;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: a;
}

.grow-container .grow-right-cont img {
  width: 250px;
}

.grow-container h2 {
  font-size: 22px;
  margin-bottom: 20px;
}

.grow-container p {
  font-size: 14px;
  color: #8B9398;
  margin-bottom: 20px;
}

.flow-container {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 260px;
      grid-template-columns: 260px;
  -ms-grid-rows: 280px 150px;
      grid-template-rows: 280px 150px;
      grid-template-areas: 'a' 'b';
  margin-top: 40px;
  -webkit-box-shadow: 0 0 15px 1px #e8e7e7;
          box-shadow: 0 0 15px 1px #e8e7e7;
  padding: 2em;
  border-radius: 17px;
}

.flow-container .flow-right-cont {
  padding-top: 30px;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: a;
}

.flow-container .flow-right-cont img {
  width: 250px;
}

.flow-container h2 {
  font-size: 22px;
  margin-bottom: 20px;
}

.flow-container p {
  font-size: 14px;
  color: #8B9398;
  margin-bottom: 20px;
}

.users-container {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 260px;
      grid-template-columns: 260px;
  -ms-grid-rows: 280px 150px;
      grid-template-rows: 280px 150px;
      grid-template-areas: 'a' 'b';
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0 0 15px 1px #e8e7e7;
          box-shadow: 0 0 15px 1px #e8e7e7;
  padding: 2em;
  border-radius: 17px;
  margin-bottom: 15em;
}

.users-container .users-right-cont {
  padding-top: 30px;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: a;
}

.users-container .users-right-cont img {
  width: 250px;
}

.users-container h2 {
  font-size: 22px;
  margin-bottom: 20px;
}

.users-container p {
  font-size: 14px;
  color: #8B9398;
  margin-bottom: 20px;
}

.mid-section {
  margin-top: -11em;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mid-section-container {
  background: white;
  margin-top: 40px;
  -webkit-box-shadow: 0 0 15px 5px rgba(73, 73, 73, 0.144);
          box-shadow: 0 0 15px 5px rgba(73, 73, 73, 0.144);
  padding: 2em;
  border-radius: 17px;
  width: 75vw;
}

.mid-section-container h1 {
  margin-top: 15px;
  font-size: 15px;
}

.mid-section-container a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  -webkit-box-shadow: 0 0 10px 1px #d0cccc;
          box-shadow: 0 0 10px 1px #d0cccc;
  font-size: 10px;
  background: #FC4AB8;
  padding: 1.4em;
  width: 200px;
  border-radius: 4em;
  margin-top: 25px;
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
}

.mid-section-container a:hover {
  background: #FE92D5;
}

footer {
  color: white;
  font-family: 'Open sans';
  text-align: left;
}

footer img {
  width: 20px;
  margin-top: 5px;
}

footer .white-logo {
  -webkit-filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(298deg) brightness(102%) contrast(101%);
          filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(298deg) brightness(102%) contrast(101%);
  width: 150px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: logo;
}

footer .first-block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50px 250px;
      grid-template-columns: 50px 250px;
  -ms-grid-rows: 50px 100px 50px 50px;
      grid-template-rows: 50px 100px 50px 50px;
      grid-template-areas: 'logo logo' 'a p-a' 'b p-b' 'c p-c';
  gap: 20px 0;
  padding: 1em;
  margin-top: 35px;
}

footer .location {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: a;
}

footer .p-location {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: p-a;
}

footer .phone {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: b;
}

footer .p-phone {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: p-b;
}

footer .mail {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: c;
}

footer .p-email {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: p-c;
}

.second-block {
  padding: 1em;
}

.second-block p {
  margin-top: 20px;
  cursor: pointer;
}

.second-block p:hover {
  font-weight: bold;
}

.copy {
  color: white;
  font-size: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
  margin-bottom: 40px;
}

.credits {
  font-weight: bold;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 10px;
  margin-top: -40px;
  margin-bottom: 40px;
}

@media only screen and (min-width: 720px) {
  .grow-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .users-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .flow-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .first-block p {
    font-size: 14px;
  }
  .footer .second-block a {
    color: white;
    font-size: 15px;
  }
}

@media only screen and (min-width: 1000px) {
  .hero-section {
    background: url(/images/bg-hero-desktop.svg);
  }
  .hero-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero-container .hero-right .mockups {
    width: 500px;
  }
  .hero-container .hero-left {
    margin-left: 5vw;
  }
  .hero-container .hero-left h1 {
    text-align: left;
    width: 300px;
  }
  .hero-container .hero-left p {
    text-align: left;
  }
  .hero-container .hero-left .hero-left-btn {
    width: 200px;
    margin-left: -0.1vw;
  }
  .navbar-container {
    padding-left: 5em;
    padding-right: 5em;
  }
  .navbar-container .image-logo {
    width: 120px;
    height: 19px;
  }
  .nav-btn {
    font-size: 11px;
    padding: 6px;
    width: 100px;
  }
  .grow-container, .flow-container, .users-container {
    padding-right: 6em;
    padding-left: 6em;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }
  .grow-container p, .flow-container p, .users-container p {
    width: 400px;
  }
  .mid-section-container {
    width: 45vw;
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .second-block {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100px 100px;
        grid-template-columns: 100px 100px;
    -ms-grid-rows: (40px)[4];
        grid-template-rows: repeat(4, 40px);
    margin-right: -15vw;
  }
  .copy {
    display: none;
  }
  .credits {
    display: none;
  }
  .footer .first-block p {
    font-size: 14px;
  }
  .footer .second-block a {
    color: white;
    font-size: 15px;
  }
}

@media only screen and (min-width: 1300px) {
  .hero-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero-container .hero-right .mockups {
    width: 700px;
  }
  .hero-container .hero-left {
    margin-left: 5vw;
  }
  .hero-container .hero-left h1 {
    font-size: 30px;
    text-align: left;
    width: 350px;
  }
  .hero-container .hero-left p {
    font-size: 18px;
    text-align: left;
    width: 470px;
  }
  .hero-container .hero-left .hero-left-btn {
    font-size: 13px;
    margin-left: -0.2vw;
  }
  .grow-container, .flow-container, .users-container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    text-align: left;
  }
  .grow-container h2, .flow-container h2, .users-container h2 {
    font-size: 25px;
  }
  .grow-container p, .flow-container p, .users-container p {
    font-size: 16px;
    width: 400px;
  }
  .second-section {
    background: white;
    padding: 7em;
  }
  #flow-image, #grow-image, #users-image {
    width: 450px;
  }
  #grow-image {
    width: 400px;
  }
  .mid-section-container {
    width: 25vw;
  }
  .mid-section-container h1 {
    font-size: 20px;
  }
  .mid-section-container a {
    font-size: 11px;
  }
  .navbar-container {
    padding-left: 15em;
    padding-right: 15em;
  }
  .navbar-container .image-logo {
    width: 130px;
    height: 20px;
  }
  .nav-btn {
    font-size: 13px;
    padding: 8px;
    width: 120px;
  }
  .footer .first-block p {
    font-size: 14px;
  }
  .footer .second-block a {
    color: white;
    font-size: 15px;
  }
  .mid-section-container a {
    font-size: 12px;
  }
  .copy {
    display: block;
    color: white;
  }
  .credits {
    font-weight: bold;
    color: white;
    display: block;
  }
  .hero-bg {
    height: 100vh;
  }
}

@media only screen and (min-width: 1600px) {
  .hero-container {
    margin-top: 100px;
  }
  .hero-container .hero-right .mockups {
    width: 770px;
  }
  .hero-container .hero-left {
    margin-left: 5vw;
  }
  .hero-container .hero-left h1 {
    font-size: 35px;
    text-align: left;
    width: 400px;
  }
  .hero-container .hero-left p {
    font-size: 18px;
    text-align: left;
    width: 470px;
  }
  .hero-container .hero-left .hero-left-btn {
    font-size: 15px;
    margin-left: -0.2vw;
  }
}
/*# sourceMappingURL=main.css.map */